$primary-color: #ff3366;
$background-color: white;
$text-color: black;
$grey-color: grey;
$hover-color: white;
$video-background-color: black;
$opacity-color: rgba(0, 0, 0, 0.1);
$side-video-opacity: 0.3;