body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

.stories-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.story {
    margin: 0 10px;
    text-align: center;
}

.story-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 2px solid #ff3366;
}

.video-display-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.video-container {
    width: 370px;
    height: 540px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    position: absolute;
    z-index: 1000;
    margin-left: 25px;
}


.side-stories {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 50%;
    gap:10px;
    position: relative;
}

.side-stories video {
    background-color: black;
    opacity: 0.3;
    object-fit: cover;
    height: 400px;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
}

.left-stories {
    position: relative;
    left: -130px;
}

.right-stories {
    position: relative;
    right: -130px;
}
